## ignore dirs
eln-cache/*
straight/*
transient/*
racket-mode/*
auto-save-list/*
elpa/*
elpy/*
etc/*
.cache/*
var/*
.my-backup/*
.my-config/*
newsticker/*
tree-sitter/*
devdocs/*
request/*
epkgs/
librime/
.lisp/

## dotfiles
.DS_Store
.lsp-session-v1
.org-id-locations

## ignore files
custom.el
projects
recentf
history
org-roam.db
places
plantuml-*.jar
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
