[submodule "Emacs-wgrep"]
	path = lib/Emacs-wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "ag"]
	path = lib/ag
	url = git@github.com:Wilfred/ag.el.git
[submodule "anaphora"]
	path = lib/anaphora
	url = https://github.com/rolandwalker/anaphora
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "autothemer"]
	path = lib/autothemer
	url = git@github.com:jasonm23/autothemer.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape.git
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex
[submodule "centaur-tabs"]
	path = lib/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs
[submodule "cfrs"]
	path = lib/cfrs
	url = https://github.com/Alexander-Miller/cfrs.git
[submodule "cider"]
	path = lib/cider
	url = git@github.com:clojure-emacs/cider.git
	# no-byte-compile = cider-test.el
[submodule "citar"]
	path = lib/citar
	url = https://github.com/emacs-citar/citar
[submodule "citeproc"]
	path = lib/citeproc
	url = https://github.com/andras-simonyi/citeproc-el
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "combobulate"]
	path = lib/combobulate
	url = git@github.com:mickeynp/combobulate.git
[submodule "command-log-mode"]
	path = lib/command-log-mode
	url = git@github.com:lewang/command-log-mode.git
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "conda"]
	path = lib/conda
	url = https://github.com/necaris/conda.el
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
[submodule "consult-eglot"]
	path = lib/consult-eglot
	url = git@github.com:mohkale/consult-eglot.git
[submodule "consult-projectile"]
	path = lib/consult-projectile
	url = https://gitlab.com/OlMon/consult-projectile
[submodule "consult-todo"]
	path = lib/consult-todo
	url = git@github.com:liuyinz/consult-todo.git
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
	load-path = .
	load-path = extensions
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "dash-at-point"]
	path = lib/dash-at-point
	url = https://github.com/stanaka/dash-at-point
[submodule "deadgrep"]
	path = lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "deferred"]
	path = lib/deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "denote"]
	path = lib/denote
	url = git@github.com:protesilaos/denote.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "dired-git-info"]
	path = lib/dired-git-info
	url = git@github.com:emacs-straight/dired-git-info.git
[submodule "diredfl"]
	path = lib/diredfl
	url = git@github.com:purcell/diredfl.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:doomemacs/themes.git
[submodule "ebib"]
	path = lib/ebib
	url = https://github.com/joostkremers/ebib
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "ein"]
	path = lib/ein
	url = https://github.com/millejoh/emacs-ipython-notebook
[submodule "ekg"]
	path = lib/ekg
	url = https://github.com/ahyatt/ekg
	no-byte-compile = ekg-llm.el
	no-byte-compile = ekg-embedding.el
[submodule "el-get"]
	path = lib/el-get
	url = git@github.com:dimitri/el-get.git
[submodule "eldoc"]
	path = lib/eldoc
	url = git@github.com:emacs-straight/eldoc.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/elisp-refs.git
[submodule "elpy"]
	# no-byte-compile = elpy.el
	path = lib/elpy
	url = https://github.com/jorgenschaefer/elpy
[submodule "emacs-dashboard"]
	path = lib/emacs-dashboard
	url = git@github.com:emacs-dashboard/emacs-dashboard.git
[submodule "emacs-language-id"]
	path = lib/emacs-language-id
	url = git@github.com:lassik/emacs-language-id.git
[submodule "emacs-libvterm"]
	path = lib/emacs-libvterm
	url = git@github.com:akermu/emacs-libvterm.git
[submodule "emacs-load-relative"]
	path = lib/emacs-load-relative
	url = git@github.com:rocky/emacs-load-relative.git
[submodule "emacs-loc-changes"]
	no-byte-compile = cask-install.el
	path = lib/emacs-loc-changes
	url = git@github.com:rocky/emacs-loc-changes.git
[submodule "emacs-smart-input-source"]
	path = lib/emacs-smart-input-source
	url = git@github.com:laishulu/emacs-smart-input-source.git
[submodule "emacs-test-simple"]
	path = lib/emacs-test-simple
	url = git@github.com:rocky/emacs-test-simple.git
[submodule "emacs-web-server"]
	path = lib/emacs-web-server
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "ess"]
	path = lib/ess
	url = https://github.com/emacs-ess/ESS
[submodule "expreg"]
	path = lib/expreg
	url = git@github.com:casouri/expreg.git
[submodule "external-completion"]
	path = lib/external-completion
	url = git@github.com:emacs-straight/external-completion.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "find-file-in-project"]
	path = lib/find-file-in-project
	url = git@github.com:redguardtoo/find-file-in-project.git
[submodule "fish-mode"]
	path = lib/fish-mode
	url = https://github.com/wwwjfy/emacs-fish
[submodule "frame-local"]
	path = lib/frame-local
	url = https://github.com/sebastiencs/frame-local
[submodule "fringe-helper"]
	path = lib/fringe-helper
	url = https://github.com/nschum/fringe-helper.el
[submodule "gcmh"]
	path = lib/gcmh
	url = git@github.com:emacsmirror/gcmh.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "imenu-list"]
	path = lib/imenu-list
	url = git@github.com:bmag/imenu-list.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = git@github.com:purcell/inheritenv.git
[submodule "jsonrpc"]
	path = lib/jsonrpc
	url = git@github.com:emacs-straight/jsonrpc.git
[submodule "jupyter"]
	path = lib/jupyter
	url = https://github.com/emacs-jupyter/jupyter
[submodule "kaolin-themes"]
	path = lib/kaolin-themes
	url = git@github.com:ogdenwebb/emacs-kaolin-themes.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = git@github.com:jdtsmith/kind-icon.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	no-byte-compile = lisp/magit-libgit.el
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "meow"]
	path = lib/meow
	url = git@github.com:meow-edit/meow.git
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = git@github.com:rainstormstudio/nerd-icons.el.git
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "nerd-icons-ibuffer"]
	path = lib/nerd-icons-ibuffer
	url = https://github.com/seagle0128/nerd-icons-ibuffer
[submodule "ob-async"]
	path = lib/ob-async
	url = https://github.com/astahlman/ob-async
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "once"]
	path = lib/once
	url = git@github.com:emacs-magus/once.git
	load-path = .
	load-path = once-setup
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org"]
	load-path = lisp
	path = lib/org
	url = https://git.tecosaur.net/tec/org-mode
	build-step = make autoloads
	build-step = borg-update-autoloads
	build-step = borg-compile
	build-step = borg-maketexi
	build-step = borg-makeinfo
[submodule "org-agenda-property"]
	path = lib/org-agenda-property
	url = https://github.com/Malabarba/org-agenda-property
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear
[submodule "org-edna"]
	path = lib/org-edna
	url = git@github.com:emacsmirror/org-edna.git
[submodule "org-gtd"]
	path = lib/org-gtd
	url = https://github.com/Trevoke/org-gtd.el
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern
[submodule "org-ql"]
	path = lib/org-ql
	url = https://github.com/alphapapa/org-ql
	no-byte-compile = helm-org-ql.el
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
	built-step = borg-compile
	load-path = .
	load-path = extensions
[submodule "org-sticky-header"]
	path = lib/org-sticky-header
	url = git@github.com:alphapapa/org-sticky-header.git
[submodule "org-super-agenda"]
	path = lib/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda
[submodule "ov"]
	path = lib/ov
	url = https://github.com/emacsorphanage/ov
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib
[submodule "parseclj"]
	path = lib/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "parseedn"]
	path = lib/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "peg"]
	path = lib/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "poetry"]
	path = lib/poetry
	url = https://github.com/cybniv/poetry.el
[submodule "polymode"]
	path = lib/polymode
	url = https://github.com/polymode/polymode
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
[submodule "popup-el"]
	path = lib/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "postframe"]
	path = lib/postframe
	url = git@github.com:tumashu/posframe.git
[submodule "powerline"]
	path = lib/powerline
	url = https://github.com/milkypostman/powerline
[submodule "prescient"]
	path = lib/prescient
	url = git@github.com:radian-software/prescient.el.git
	no-byte-compile = selectrum-prescient.el
	no-byte-compile = company-prescient.el
	no-byte-compile = ivy-prescient.el
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "pythonic"]
	path = lib/pythonic
	url = https://github.com/pythonic-emacs/pythonic
[submodule "pyvenv"]
	path = lib/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "realgud"]
	path = lib/realgud
	url = git@github.com:realgud/realgud.git
	build-setup = borg-compile
	no-byte-compile = cask-install.el
[submodule "request"]
	path = lib/request
	url = https://github.com/tkf/emacs-request
[submodule "restclient"]
	path = lib/restclient
	url = https://github.com/pashky/restclient.el
	no-byte-compile = restclient-helm.el
	no-byte-compile = restclient-jq.el
[submodule "rime"]
	path = lib/rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el
[submodule "sesman"]
	path = lib/sesman
	url = https://github.com/vspinu/sesman
[submodule "setup"]
	path = lib/setup
	url = git@github.com:emacsmirror/setup.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = git@github.com:emacsmirror/shrink-path.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server

[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:emacs-straight/spinner.git
[submodule "sqlite3"]
	path = lib/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "svg-lib"]
	path = lib/svg-lib
	url = git@github.com:rougier/svg-lib.git
[submodule "tempel"]
	path = lib/tempel
	url = git@github.com:minad/tempel
[submodule "term-keys"]
	path = lib/term-keys
	url = git@github.com:CyberShadow/term-keys.git
[submodule "terminal-focus-reporting"]
	path = lib/terminal-focus-reporting
	url = https://github.com/veelenga/terminal-focus-reporting.el
[submodule "topsy"]
	path = lib/topsy
	url = git@github.com:alphapapa/topsy.el
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = git@github.com:renzmann/treesit-auto.git
[submodule "triples"]
	path = lib/triples
	url = https://github.com/ahyatt/triples
[submodule "ts"]
	path = lib/ts
	url = https://github.com/alphapapa/ts.el
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
	built-step = borg-compile
	load-path = .
	load-path = extensions
[submodule "vertico-posframe"]
	path = lib/vertico-posframe
	url = git@github.com:tumashu/vertico-posframe
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "winum"]
	path = lib/winum
	url = https://github.com/deb0ch/emacs-winum
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "xref"]
	path = lib/xref
	url = git@github.com:emacs-straight/xref.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "zmq"]
	path = lib/zmq
	url = https://github.com/nnicandro/emacs-zmq
[submodule "treesit-fold"]
	path = lib/treesit-fold
	url = https://github.com/abougouffa/treesit-fold
